{% extends 'layout.html.twig' %}

{% block body %}
    <div class="example-wrapper">
        <h1> {{ message }}! ✅</h1>
        <h2> {{ welcomingMessage }}! ✅</h2>

        This friendly message is coming from: {{ app.session.get('nbVisite') }}
        <ul>
            <li>Your controller at <code><a href="{{ 'E:/symfony Projetcs/gl2g323/src/Controller/FirstController.php'|file_link(0) }}">src/Controller/FirstController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'E:/symfony Projetcs/gl2g323/templates/first/index.html.twig'|file_link(0) }}">templates/first/index.html.twig</a></code></li>
        </ul>
    </div>

{% endblock %}

{% block title %}
    {{ parent() }} / First
{% endblock %}